{% extends "base.html" %}

{% block content %}
  
  {% load i18n %}
  {% load crispy_forms_tags %}
  
  {% if user.is_authenticated %}
    
        <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
        <h1>GeoRoute Track Registration</h1>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form|crispy }}
        
          <input class='btn btn-primary' type="submit" value="{% trans 'Join' %}" />
        </form>
        </div>
        </div>
        
        <hr/>
        
  {% endif %}

{% endblock %}
