
<title>{{ GeoRouteData }}</title>


{% for Location,LocationDetails in GeoRouteData.items %}
    <script> var Location="{{Location}}"</script>

    {% for Parameter,Value in LocationDetails.items   %}
        {% if Parameter == "Lat" %}
            <script> var Latitude = "{{Value}}"</script>
        {% endif %}

        {% if Parameter == "Lng" %}
            <script>
                var Longitude = "{{Value}}"           
            </script>
        {% endif %}
        
        {% if Parameter == "Elv" %}
            <script> var Elevation = "{{Value}}"</script>
        {% endif %}
        
        {% if Parameter == "Mrkr" %}
            <script> var Marker = "{{Value}}"</script>
        {% endif %}         
    
    {% endfor %}
   
    <script>
            document.write ("Location: " + Location + " Lat: " + Latitude +" Lng: " + Longitude + " Elv: " + Elevation + " Mrkr: " + Marker + "</br>")    
    </script>    
{% endfor %}