<html>
  
  <title>{{ Fuck }}</title>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Geo Route Track Application</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
		width: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry"></script>
    <script>
      
      var MapData = "{{ GeoRouteData }}"
 
      for(var index in MapData) {
	document.write( index );
      }		

    
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>


<script>
/*
   				    google.maps.event.addListener(infowindow,'content_changed',function()
				    {
					alert("content changed" + Current_Content)
					alert(Current_Content + "fucl")
 				    	//infowindow.setContent(this.infowindow.getContent)
				    });
*/
</script>
